@rendermode InteractiveServer

<h2>Interactive Server (interactive SSR)</h2>
<button class="btn btn-primary" @onclick="ProcessaCliqueServer">Clica Aqui!</button> @message

@code {
    private string message = "Não clicou.";

    private void ProcessaCliqueServer()
    {
        message = "Agora sim, clicado!!!";
    }
}