<div style="background-color:@StyleContext.BackgroundColor; padding: 10px;">
    <p>Componente de Nível 4</p>
</div>

@code {
    [CascadingParameter]
    public StyleContext StyleContext { get; set; }
}
