@page "/cascading-parameters"
@rendermode InteractiveServer


@* <CascadingValue Value="@StyleContext">
    <Nivel2 />
</CascadingValue> *@

<Nivel2 />

<div style="padding:20px; background-color:@StyleContext.BackgroundColor">
    Selecione uma cor de fundo:
    <input type="color" @bind="StyleContext.BackgroundColor" />
</div>

@code {
    [CascadingParameter]
    private StyleContext StyleContext { get; set; } //= new StyleContext { BackgroundColor = "#ADD8E6" }; // Azul claro
}
