<button class="btn @Class" @onclick="OnClick">
    @IconHtml @Text
</button>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Class { get; set; } = "btn-secondary"; 

    [Parameter]
    public EventCallback OnClick { get; set; } 

    [Parameter]
    public MarkupString IconHtml { get; set; } 
}
