<footer class="footer">
    <div class="row">
        <span>&copy; @DateTime.Now.Year - desenvolvedor.io - Fundamentos de Blazor.</span>
    </div>
    <div class="row">
        <div class="footer-links">
            <NavLink class="footer-link" href="/privacidade">Política de Privacidade</NavLink>
            <NavLink class="footer-link" href="/termos">Termos de Serviço</NavLink>
            <NavLink class="footer-link" href="/sobre">Sobre Nós</NavLink>
        </div>
    </div>
</footer>
