@page "/data-binding"

<div style="padding-bottom:60px">
    <Interpolacao />
</div>

<div style="padding-bottom:60px">
    <OneWayBinding />
</div>

<div style="padding-bottom:60px">
    <EventBinding />
</div>

<div style="padding-bottom:60px">
    <TwoWayBinding />
</div>
